#tausta {
	background: #FFAACC;
}

#tekstii{
	padding: 1em;
}

#PP {
	text-align: center;
	font-size: 10em;	
}

.pic {
  display:block;
  margin-left:auto;
  margin-right:auto;
	width: 25em;
}

font-family: 'Sacramento', cursive;
font-family: 'Rochester', cursive;
font-family: 'Petit Formal Script', cursive;
font-family: 'Yesteryear', cursive;
font-family: 'Montez', cursive;
font-family: 'Clicker Script', cursive;
font-family: 'Dawning of a New Day', cursive;
font-family: 'Stalemate', cursive;
font-family: 'Meddon', cursive;
font-family: 'Dr Sugiyama', cursive;
font-family: 'Butterfly Kids', cursive;
font-family: 'Mr Bedfort', cursive;

https://fonts.google.com/?category=Handwriting&selection.family=Butterfly+Kids|Clicker+Script|Dawning+of+a+New+Day|Dr+Sugiyama|Meddon|Montez|Mr+Bedfort|Petit+Formal+Script|Rochester|Sacramento|Stalemate|Yesteryear
